@keyframes loading {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.container{
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  .modal{
    display: block;
    width:100%;
    height:100%;
    background: #6c6c6c;
    opacity:.5;
  }
  .loading{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    animation: loading 1s linear infinite;
    i{
      border-radius: 100%;
      background: #2e2e2e;
      opacity:.8;
      position: absolute;
      transform: translate(-50%,-50%);
    }
  }
}