.container{
  position: relative;
  border: 1px solid #858585;
  width: 82px;
  height: 32px;
  border-radius: 4px;
  padding: 0 6px;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  color: #fff;
  transition: box-shadow .3s;
  span{
    display: inline-block;
    height: 100%;
    line-height: 32px;
    img{
      max-height: 100%;
      vertical-align: middle;
      margin-right: 4px;
    }
  }
  &:active{
    opacity: 0.8;
  }
  &:hover{
    cursor: pointer;
    box-shadow: 0 0 14px #000;
  }
}
.default{
  color: #333;
}
.primary{
  background: #428ccb;
}
.success{
  background: #5bb85d;
}
.warning{
  background: #efad4c;
}
.danger{
  background: #d9544f;
}