.container{
  position: absolute;
  height: 100%;
  width:100%;
  top:0;
  left:0;
  z-index: 999;
  .modal{
    position: absolute;
    top:0;
    left:0;
    display: block;
    height: 100%;
    width:100%;
    opacity:0.5;
    background: #6c6c6c;
  }
}