.container{
  padding: 0 20px;
  flex:1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  .content1{
    flex:1;
    background: #5bb85d;
  }
  .content2{
    flex:1;
    background: #0b97c4;
  }
  .content3{
    flex:1;
    background: #0D3349;
  }
  .content4{
    flex:1;
    background: #710909;
  }
  .content5{
    flex:1;
    background: #b4b472;
  }
}