<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="react">
    <link rel="stylesheet" href="/css/pc_base.css">
</head>

<body>
<script type="text/javascript" src="/dist/common.js"></script>
<script type="text/javascript" src="/dist/gl.min.js"></script>
</body>

</html>
