.container {
  overflow:hidden;
  height: 100%;
  position: relative;
  .nav_bar{
    position: absolute;
    z-index: 1;
    left:50%;
    top: 10px;
    transform: translateX(-50%);
    height: 40px;
    .nav_item{
      width: auto;
      height:100%;
      float: left;
      padding:0 2px;
      margin-right: 2px;
      line-height: 40px;
      text-align: center;
      position: relative;
      color: #fff;
      font-size: 16px;
      &::after{
        content: ' ';
        position: absolute;
        background: #40a070;
        height: 3px;
        width: 100%;
        top: 5px;
        left:50%;
        transform: translateX(-50%) scaleX(0);
        transition: transform .3s;
      }
      &:hover{
        cursor: pointer;
        &::after{
          transform: translateX(-50%) scaleX(1);
        }
      }
    }
    .nav_active{
      color: #40a070;
      &::after{
        transform: translateX(-50%) scaleX(1);
      }
    }
  }
  @media only screen and (max-width: 500px){
    .nav_bar{
      display: none;
    }
  }
  .item_container {
    height: 100%;
    position: relative;
    transition: top .5s;
    .item {
      height: 100%;
      overflow: hidden;
      opacity: 0;
      transition: opacity 1s;
    }
    .item_active{
      opacity: 1;
    }
  }
}