.container {
  height: 100%;
  overflow: hidden;
  .item_container {
    height: 100%;
    position: relative;
    transition: top .5s;
    .item {
      height: 100%;
      overflow: hidden;
    }
  }
}