.root{
  height:100%;
  position: relative;
}


.route-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.route-enter.route-enter-active {
  opacity: 1;
}

.route-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.route-leave.route-leave-active {
  opacity: 0;
}