.header{
  height:60px;
  z-index: 999;
  display: flex;
  .icon_home{
    background: #aaa;
    position: relative;
    flex:0 0 60px;
    &::after{
      content: '\e900';
      font-size: 32px;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      cursor: pointer;
    }
  }
  .nav{
    flex:1;
    display: flex;
    background: #2e2e2e;
    justify-content: center;
    ul{
      display: flex;
      li{
        a{
          text-align: center;
        }
      }
    }
  }
}